@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@300;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #333;
  --gray: #777;
  --blue: #6c7ae0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

.cart {
  width: 100%;
  position: absolute;
  top: 12%;
}

.cart-header {
  font-family: "Playfair Display", serif;
  background: rgba(0, 0, 0, 0.2)
    url(../../../public/jacek-dylag-jo8C9bt3uo8-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-size: 25px;
  text-transform: uppercase;
}

.empty-cart-notif {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.empty-cart-notif button {
  font-family: "Poppins", sans-serif;
  background-color: rgb(188, 223, 240);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.go-shopping {
  text-decoration: none;
  color: var(--black);
  margin-bottom: 60px;
}

.mobile {
  display: none;
}

.cart-item-info {
  width: 100%;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  margin: 25px 0 10px 0;
}

.cart-item-info .product {
  flex: 0 0 auto;
  width: 41.66666667%;
  padding-left: 12px;
}

.cart-item-info .cost {
  flex: 0 0 auto;
  width: 25%;
  text-align: center;
}

.cart-item-info .quantity {
  flex: 0 0 auto;
  width: 16.66666667%;
  text-align: center;
}

.cart-item-info .sub-total {
  text-align: right;
  flex: 0 0 auto;
  width: 16.66666667%;
}

.cart-box {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 10px;
}

.item-brand {
  font-size: 12px;
  color: var(--gray);
}

.item-color {
  font-size: 12px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.item-price {
  color: var(--gray);
}

hr {
  background-color: rgb(124, 123, 138, 0.3);
  height: 1px;
  border: 0;
}

.col-1 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-1 div {
  margin-left: 12px;
}

.col-1 img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.cart-box .col-1 {
  display: flex;
}

.col-2 {
  width: 25%;
  flex: 0 0 auto;
  text-align: center;
}

.col-3 {
  flex: 0 0 auto;
  width: 16.66666667%;
  text-align: center;
}

.quantity-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quantity-wrapper span {
  background: #f7f8fa;
  width: 60%;
  height: 30px;
  font-size: 14px;
  text-align: center;
  border: none;
  outline: none;
  font-weight: 500;
  color: var(--black);
}

.minus,
.plus {
  border: 1px solid var(--black);
  cursor: pointer;
  padding: 5px 8px;
}

.col-4 {
  text-align: right;
  flex: 0 0 auto;
  width: 16.66666667%;
  font-size: 18px;
}

.clear_continue {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 20px;
}

.clear-cart,
.continue-shopping {
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  color: white;
  background-color: var(--blue);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 20px;
  padding: 12px 30px 10px;
  cursor: pointer;
}

.continue-shopping a {
  color: white;
  text-decoration: none;
}

.cart-total {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: center;
}

.cart-total div {
  background-color: rgb(188, 223, 240, 0.4);
  margin: 40px 20px 60px 0;
  padding: 40px;
  border-radius: 10px;
}

.cart-total h6 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cart-total p {
  color: var(--gray);
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
}

.cart-total p span {
  color: var(--black);
  font-size: 18px;
}

.cart-total .primary-btn {
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 30px 10px;
  color: white;
  background-color: var(--blue);
}

@media screen and (max-width: 1000px) {
  .cart {
    position: absolute;
    top: 10%;
  }

  .cart-header {
    height: 15vh;
  }
}

@media screen and (max-width: 720px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .cart {
    position: absolute;
    top: 5%;
  }
  .cart-box {
    justify-content: space-between;
  }
  .cart-item-info {
    display: none;
  }
  .quantity-wrapper span {
    padding: 0 20px;
  }
  .item-name {
    font-size: 14px;
    line-height: 1;
    margin-top: 3px;
  }
  .cart-total {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .cart-total div {
    background-color: rgb(188, 223, 240, 0.2);
    margin: 40px 0 60px 0;
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  .clear_continue {
    display: flex;
    flex-direction: column;
  }
  .col-3 {
    margin-right: 20px;
  }
  .item-price {
    margin-right: 20px;
  }
}

@media screen and (max-width: 350px) {
  .cart {
    padding: 0;
  }

  .item-brand {
    font-size: 10px;
  }

  .item-name {
    font-size: 12px;
  }

  .col-2 {
    font-size: 12px;
  }

  .col-4 {
    font-size: 14px;
  }
  .right .name {
    font-size: 20px;
  }
}
