@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@300;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #333;
    --gray: #777;
    --blue: #6c7ae0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}
.contact {
    padding: 30px 70px 70px;
}

.contact-header {
    font-family: 'Playfair Display', serif;
    color: white;
    background: rgba(0, 0, 0, 0.2) url(../../../public/annie-spratt-goholCAVTRs-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    background-blend-mode: darken;
    margin: 50px 0;
    padding: 50px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.contact-body {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    position: relative;
}

.heading {
    font-size: 25px;
    color: var(--blue);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form .name_email {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

form .name_email .custom-field {
    width: 100%;
}

.custom-field {
    position: relative;
    font-size: 13px;
    padding-top: 20px;
    margin-bottom: 8px;
}

.custom-field input {
    width: 100%;
    background: none;
    border: 2px solid #ddd;
    outline: none;
    appearance: none;
    padding: 12px;
    border-radius: 3px;
    font-size: 15px;
    transition: 0.3s all;
}

.custom-field .placeholder {
    position: absolute;
    top: 50%;
    left: 12px;
    color: rgba(34, 56, 156, 0.5);
    padding: 0 5px;
    transition: 0.3s all ease;
}

.custom-field input:valid,
.custom-field input:focus {
    border-color: var(--blue);
}

.custom-field input:valid+.placeholder,
.custom-field input:focus+.placeholder {
    top: 10px;
    font-size: 12px;
    color: var(--blue);
    background-color: white;
}

textarea {
    resize: none;
}

#message {
    width: 100%;
    background: none;
    border: 2px solid #ddd;
    outline: none;
    appearance: none;
    padding: 12px;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.3s all;
}

.message .placeholder {
    position: absolute;
    top: 30px;
    left: 12px;
    color: rgba(34, 56, 156, 0.5);
    padding: 0 5px;
    font-size: 13px;
    transition: 0.3s all ease;
}

.custom-field #message:valid,
.custom-field #message:focus {
    border-color: var(--blue);
}

.custom-field #message:valid+.placeholder,
.custom-field #message:focus+.placeholder {
    top: 10px;
    font-size: 12px;
    color: rgb(34, 56, 156);
    background-color: white;
}

.contact-info {
    display: flex;
    margin: 0 0 25px 120px;
}

.media-body {
    margin-left: 15px;
    font-weight: 300;
}

.media-body h3 {
    color: var(--black);
    font-size: 15px;
    text-transform: uppercase;
}

.media-body p {
    font-size: 13px;
    color: var(--gray);
}

.form-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgb(37, 119, 253);
    cursor: pointer;
    padding: 15px 50px;
    border-radius: 4px;
    border: 1px solid rgb(253, 203, 158);
    margin-top: 30px;
}

@media screen and (max-width:900px) {
    .contact-body {
        display: flex;
        flex-direction: column;
    }
    .contact-info {
        display: flex;
        padding-bottom: 25px;
        margin: 0;
    }
}

@media screen and (max-width: 720px) {
    .heading {
        position: relative;
        top: 50px;
        padding: 40px 0;
        margin: 0;
    }
    .contact {
        padding: 80px 50px;
    }
}    

@media screen and (max-width: 500px) {
    .head {
        padding: 30px 0;
    }
    .contact {
        padding: 80px 20px;
    }
    form .name_email {
    display: flex;
    flex-direction: column;
    gap: 0;
}
}